.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
  border-radius: 30px;
  padding-bottom: 20px;
}

.my-masonry-grid_column > div:hover {
  filter: drop-shadow(0px 15px 15px rgba(0, 0, 0, .4));
  transition: transform .2s;
  transform: scale(1.03);
}

body {
  font-family: Arial;
}

.masonry-title {
  font-weight: 700;
  font-size: 2.5rem;
  padding: 1.5rem;
  padding-bottom: 0;
}

.masonry-description {
  padding: 1.5rem;
  border-top: 2px solid rgba(0, 0, 0, .05);
}

img {
  width:100%;
}

.project {
  background-color: #417bee;
}

.adventure {
  background-color: #349c4c;
}

.learning {
  background-color: #f7b229;
}

.search-button{
  border: none;
  border-radius: 12px;
  padding: 15px;
  color: white;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, .4));
  
}